<!DOCTYPE html>
<html>
<title>CONTROL DEL ESTABLECIMIENTO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-content" style="max-width:1200px">
    <div class="w3-panel">
        <i class="w3-xlarge fa fa-bars"></i>
      </div>
      <!-- First Grid: Logo & About -->
      <div class="w3-row">
      <div class="w3-half w3-container">
        <h1 class="w3-xxlarge w3-text-light-grey">Bienvenido</h1>
        <h1 class="w3-xxlarge w3-text-grey">Este es </h1>
        <h1 class="w3-jumbo">Su establecimiento:</h1>
      </div>
      <div class="w3-half w3-container w3-xlarge w3-text-grey">
        <p class="">Si lo necesita ingrese su nuevo aforo máximo </p>
        <form action="/aforo" method = "post">
            <input type ="text" name= "aforo">
            <input type = "submit" value= "Enviar" />
        </form>
        
      </div>
      </div>
      
      <!-- Second Grid: Resent -->
      <div class="w3-panel w3-text-grey">
      <h4>A continuación encontrará la información actual del lugar:</h4>
      </div>
      <div class="w3-row">
      <div class="w3-half w3-container">
        <img src="./streaming_camara" style="width:100%">
      </div>
      <div class="w3-half w3-container">
        <img src="./streaming_info" style="width:100%">
        
      </div>
      </div>
     <!-- Footer -->
<div class="w3-row w3-section">
    <div class="w3-third w3-container w3-black w3-large" style="height:250px">
      <h2>Contact Info</h2>
      <p><i class="fa fa-map-marker" style="width:30px"></i> Bgotá D.C, Colombia</p>
      <p><i class="fa fa-phone" style="width:30px"></i> Phone: +57 3005538419</p>
      <p><i class="fa fa-envelope" style="width:30px"> </i> Email: e-badillol@javeriana.edu.co - ivanangulo@javeriana.edu.co</p>
    </div>
    <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:250px">
      <h2>Desarrollado por:</h2>
      <p>Erick Badillo</p>
      <p>Ivan Angulo</p>
      <p>Carlos Parra</p>
      <p>Andres Wilches</p>

      
    </div>
    <div class="w3-third w3-center w3-large w3-grey w3-text-white" style="height:250px">
      <h2>Visita nuestras redes sociales</h2>
      <i class="w3-xlarge fa fa-facebook-official"></i><br>
      <i class="w3-xlarge fa fa-pinterest-p"></i><br>
      <i class="w3-xlarge fa fa-twitter"></i><br>
      <i class="w3-xlarge fa fa-flickr"></i><br>
      <i class="w3-xlarge fa fa-linkedin"></i>
    </div>
  </div>
  
  
  </body>
  </html>

   